In [24]:
#step 1- Mount your Google Drive to Collaboratory

from google.colab import drive 
drive.mount('/content/gdrive')

#step 2- Now you will see your Google Drive files in the left pane (file explorer). Right click on the file that you need to import and select çopy path. Then import as usual in pandas, using this copied path.

import pandas as pd 
df=pd.read_csv('gdrive/My Drive/IA/Fifa_world_cup_matches.csv',index_col=0, parse_dates=True)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [25]:
df2=pd.read_csv('gdrive/My Drive/IA/Salary.csv',index_col=0, parse_dates=True)

In [ ]:
df2[:]

In [ ]:
df.head(20)

In [4]:
type(df["possession team2"][:])

pandas.core.series.Series

In [ ]:
df.info()

In [ ]:
df

In [33]:
df["date"]=pd.to_datetime(df["date"]) # changer de type de donnes

In [35]:
df["possession team1"]

team1
QATAR            42%
ENGLAND          72%
SENEGAL          44%
UNITED STATES    51%
ARGENTINA        64%
                ...
ENGLAND          54%
ARGENTINA        34%
FRANCE           34%
CROATIA          45%
ARGENTINA        46%
Name: possession team1, Length: 64, dtype: object

In [37]:
l =[3,5,6]
#print(len(l))
for x in l:
  print(x)

3
5
6

In [38]:
df

,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,total attempts team1,...,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
team1,,,,,,,,,,,,,,,,,,,,,
QATAR,ECUADOR,42%,50%,8%,0,2,2022-11-20,17 : 00,Group A,5,...,0,1,6,5,0,0,52,72,256,279
ENGLAND,IRAN,72%,19%,9%,6,2,2022-11-21,14 : 00,Group B,13,...,0,1,8,13,0,0,63,72,139,416
SENEGAL,NETHERLANDS,44%,45%,11%,0,2,2022-11-21,17 : 00,Group A,14,...,0,0,9,15,0,0,63,73,263,251
UNITED STATES,WALES,51%,39%,10%,1,1,2022-11-21,20 : 00,Group B,6,...,0,1,7,7,0,0,81,72,242,292
ARGENTINA,SAUDI ARABIA,64%,24%,12%,1,2,2022-11-22,11 : 00,Group C,14,...,1,0,4,14,0,0,65,80,163,361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ENGLAND,FRANCE,54%,36%,10%,1,2,2022-12-10,20 : 00,Quarter-final,14,...,1,0,9,15,0,0,49,54,193,308
ARGENTINA,CROATIA,34%,54%,12%,3,0,2022-12-13,20 : 00,Semi-final,10,...,1,0,12,10,0,0,85,63,321,260
FRANCE,MOROCCO,34%,55%,11%,2,0,2022-12-14,20 : 00,Semi-final,14,...,0,0,13,14,0,0,72,47,328,218
CROATIA,MOROCCO,45%,45%,10%,2,1,2022-12-17,16 : 00,Play-off for third place,14,...,0,0,7,14,0,0,75,72,288,277
ARGENTINA,FRANCE,46%,40%,14%,3,3,2022-12-18,16 : 00,Final,21,...,1,2,11,21,0,0,87,104,280,409

In [39]:
x=df["possession team2"][:]
y =[float(x[i].strip('%'))/100 for i in range(len(x))]
df["possession team2"]=y

In [40]:
df

,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,total attempts team1,...,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
team1,,,,,,,,,,,,,,,,,,,,,
QATAR,ECUADOR,42%,0.50,8%,0,2,2022-11-20,17 : 00,Group A,5,...,0,1,6,5,0,0,52,72,256,279
ENGLAND,IRAN,72%,0.19,9%,6,2,2022-11-21,14 : 00,Group B,13,...,0,1,8,13,0,0,63,72,139,416
SENEGAL,NETHERLANDS,44%,0.45,11%,0,2,2022-11-21,17 : 00,Group A,14,...,0,0,9,15,0,0,63,73,263,251
UNITED STATES,WALES,51%,0.39,10%,1,1,2022-11-21,20 : 00,Group B,6,...,0,1,7,7,0,0,81,72,242,292
ARGENTINA,SAUDI ARABIA,64%,0.24,12%,1,2,2022-11-22,11 : 00,Group C,14,...,1,0,4,14,0,0,65,80,163,361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ENGLAND,FRANCE,54%,0.36,10%,1,2,2022-12-10,20 : 00,Quarter-final,14,...,1,0,9,15,0,0,49,54,193,308
ARGENTINA,CROATIA,34%,0.54,12%,3,0,2022-12-13,20 : 00,Semi-final,10,...,1,0,12,10,0,0,85,63,321,260
FRANCE,MOROCCO,34%,0.55,11%,2,0,2022-12-14,20 : 00,Semi-final,14,...,0,0,13,14,0,0,72,47,328,218
CROATIA,MOROCCO,45%,0.45,10%,2,1,2022-12-17,16 : 00,Play-off for third place,14,...,0,0,7,14,0,0,75,72,288,277
ARGENTINA,FRANCE,46%,0.40,14%,3,3,2022-12-18,16 : 00,Final,21,...,1,2,11,21,0,0,87,104,280,409

Régression linéaire avec scikit learn

Maintenant que l’on a compris le fonctionnement de la régression linéaire, voyons comment implémenter ça avec Python.

Scikit learn est la caverne d’Alibaba du data scientist. Quasiment tout y est ! Voici comment implémenter un modèle de régression linéaire avec scikit learn.

In [12]:
data=pd.read_csv('gdrive/My Drive/IA/Salary.csv',index_col=0, parse_dates=True) #pd.read_csv('gdrive/My Drive/IA2023/Salary.csv')

In [13]:
from sklearn.linear_model import LinearRegression 
# le module scikit

In [14]:
d=data.to_numpy()

In [15]:
print(d.shape)

(35, 1)

In [ ]:
import numpy as np
# On transforme les colonnes en array
x = np.array(data["YearsExperience"])
y = np.array(data['Salary'])

# On doit transformer la forme des vecteurs pour qu'ils puissent être
# utilisés par Scikit learn

x = x.reshape(-1,1)
y = y.reshape(-1,1)